@use "../../assets/styles/abstracts/colors" as *;
.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 41px;
  height: 80px;
  width: 100%;

  .left-container {
    display: flex;
  }

  .title {
    margin-left: 2px;
    font-weight: bold;
    font-size: 50px;
    margin-top: -11px;
  }
  .square {
    width: 56px;
    height: 56px;
    background: $quinary;
    border-radius: 15px;
    margin-right: 20px;
    img {
      margin-top: 12px;
      margin-left: 11px;
      height: 32px;
      width: 34px;
      filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(303deg)
        brightness(103%) contrast(101%);
    }
  }
}
