@use "../../assets/styles/abstracts/colors" as *;

.header {
  margin-left: 3px;
  height: 84px;
  display: flex;
}
.search-bar {
  display: flex;
  .search {
    background: $search-background;
    margin-top: 27px;
    padding-left: 25px;
    padding-right: 18px;

    width: 20px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
  }
  img {
    margin-top: 19px;

    filter: invert(46%) sepia(10%) saturate(1094%) hue-rotate(197deg)
      brightness(93%) contrast(83%);
  }
}

input {
  margin-top: 27px;
  margin-right: 131px;

  width: 574px;
  background: $search-background;

  border: none;
  padding: 20px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  outline: none;
}

.btn {
  margin-top: 27px;
  background: $app-background;
  border: solid $progress-background;
  border-radius: 15px;
  cursor: pointer;
}
.settings-btn {
  width: 72px;
  height: 57px;
  margin-right: 16px;
  color: $progress-background;

  img {
    margin-top: 12px;
    margin-bottom: 12px;
    filter: invert(71%) sepia(13%) saturate(419%) hue-rotate(196deg)
      brightness(91%) contrast(91%);
  }
}

.bell-btn {
  width: 100px;
  height: 57px;
  display: flex;
  img {
    margin-top: 14px;
    margin-left: 21px;
    margin-right: 12px;

    filter: invert(71%) sepia(13%) saturate(419%) hue-rotate(196deg)
      brightness(91%) contrast(91%);
  }
  p {
    color: #4e4b66;
    margin-top: 16px;
    margin-right: 23px;
    font-weight: 600;
  }
}

.username {
  margin-left: 26px;
  margin-right: 19px;
  margin-top: 51px;

  color: #4e4b66;
  font-weight: 600;
}

.user-picture {
  cursor: pointer;

  img {
    height: 49px;
    width: 48px;
    margin-top: 31px;
  }
}
