@use "../../assets/styles/abstracts/colors" as *;

.sidebar {
  width: 313px;
  height: 100%;

  a {
    text-decoration: none;
  }

  .logo {
    margin-left: 30px;
    margin-top: 30px;
    width: 45px;
    height: 45px;
  }
  .upload-button {
    margin-left: 30px;
    margin-top: 42px;
    button {
      cursor: pointer;

      background-color: $primary;
      border: none;
      border-radius: 10px;
      color: $icon-color;
      width: 178px;
      height: 58px;
      display: flex;
      padding-left: 45px;
      padding-top: 20px;
      font-size: 15px;
      img {
        margin-right: 18px;
        filter: brightness(0) invert(1);
      }
    }
  }

  .sidebar-list {
    margin-top: 45px;
    ul {
      cursor: pointer;
      padding: 0;
      list-style: none;
      margin-bottom: 0;
      margin-top: 0;

      li {
        margin-bottom: 47px;
        color: $text-muted;
        font-weight: 600;
        .active {
          color: $text-black;
          filter: invert(0%) sepia(3%) saturate(6%) hue-rotate(88deg)
            brightness(101%) contrast(101%);
          img {
            filter: invert(0%) sepia(3%) saturate(6%) hue-rotate(88deg)
              brightness(101%) contrast(101%);
          }
        }
      }
    }
    img {
      margin-left: 33px;
      margin-right: 18px;
      filter: invert(47%) sepia(8%) saturate(1152%) hue-rotate(197deg)
        brightness(93%) contrast(93%);
    }
  }
}
