@use "../../assets/styles/abstracts/colors" as *;

$svg-color: invert(74%) sepia(61%) saturate(639%) hue-rotate(340deg)
  brightness(98%) contrast(88%);
select {
  width: 225px;
  height: 56px;
  border-radius: 15px;
  color: #4e4b66;
  outline: none;
  border: none;

  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  background: url("../../assets/icons/ArrowChevronDown.svg") no-repeat right
    $select-color;
  padding-left: 25px;
  background-position-x: 185px;
}
