@use "./_StarredFilesTable";
@use "./_StarredHeader";
@use "../../assets/styles/abstracts/colors" as *;

.main-starred {
  display: flex;
  flex-direction: column;
  width: 1127px;
  height: 940px;
  background: $app-background;
}
