@use "./_mediaCards";
@use "../../assets/styles/abstracts/colors" as *;
@use "./_HomeFilesTable";
@use "./_RightSidebar";
.home-main {
  display: flex;
  flex-direction: column;
  width: 1127px;
  height: 940px;

  .home-content {
    display: flex;
  }
}
